# pre-commit is a tool to perform a predefined set of tasks manually and/or
# automatically before git commits are made.
#
# Config reference: https://pre-commit.com/#pre-commit-configyaml---top-level
#
# Common tasks
#
# - Run on all files:   pre-commit run --all-files
# - Register git hooks: pre-commit install --install-hooks
#
repos:
  # Autoformat: Python code, syntax patterns are modernized
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.10.1
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus

  # Autoformat: Python code
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        # args are not passed, but see the config in pyproject.toml

  # Autoformat: Python code
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        # args are not passed, but see the config in pyproject.toml

  # Autoformat: js, html, markdown, yaml, json
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        exclude: jupyterhub_fancy_profiles/static

  # Misc autoformatting and linting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
        exclude_types: [svg]
        exclude: jupyterhub_fancy_profiles/static
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: requirements-txt-fixer

  # Lint: Python code
  - repo: https://github.com/PyCQA/flake8
    rev: "6.1.0"
    hooks:
      - id: flake8

  # Lint: JS code
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: "v8.53.0" # Use the sha / tag you want to point at
    hooks:
      - id: eslint
        files: \.jsx?$
        types: [file]
        exclude: jupyterhub_fancy_profiles/static

# pre-commit.ci config reference: https://pre-commit.ci/#configuration
ci:
  autoupdate_schedule: monthly
