/* Hide existing submit */
.feedback-container {
  display: none;
}

/* Layout */

.profile-option-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.profile-option-label-container {
  grid-column-start: 1;
  align-self: start;
  justify-self: right;
  text-align: right;
}

.profile-option-control-container {
  grid-column-start: 2;
}

#submit-button {
  grid-column-start: 1;
  grid-column-end: 3;
}

/* Image Building styling & layout */

.terminal-container {
  background-color: black;
  padding: 16px;
}
.profile-option-control-container input[type="text"] {
  width: 100%;
  /* 8px here, even though we only use 4px for .react-select-item-container.
       Achieves similar visual effect.
    */
  padding: 8px;
  border: 1px solid gray;
  border-radius: 4px;
}

.profile-option-container.has-error label {
  color: red;
}

.profile-option-container.has-error input {
  border-color: red;
}

.profile-option-control-error {
  color: red;
  margin-top: 0.5rem;
}

/* react-select styling */
.react-select-item-container.react-select-item-menu-display.react-select-item-selected
  .react-select-item-description {
  /* When rendering an option in react select's *menu*, if it is the currently selected one, make the description much lighter.
       Otherwise, it gets unreadable in the blue;
    */
  color: #ddd;
}
.react-select-item-container {
  padding: 4px;
}

.react-select-item-description {
  color: #999;
}
